%h2 Mmm...

- if @failed == 'no_account' && @provider
  %p
    You don't have an account connected to #{Authentication.provider_name(@provider)}.

- else
  %p
    Something went wrong
    - if @provider
      with #{Authentication.provider_name(@provider)}
  %p
    Please try again.
