- flow        ||= 'login'
- css_class   ||= 'btn btn-primary'
- providers   ||= Authentication.providers

.auth__providers
  - providers.each do |provider|
    .auth__providers__provider
      = link_to provider_auth_path(provider, flow: flow), data: {flow: flow, provider: provider}, class: css_class do
        %i.sico-fixed{class: "sico-#{provider}"}
        = Authentication.provider_name(provider)
