%h1 Add a password to your account
.well
  = simple_form_for(@user, :url => update_password_user_path(@user), :html => { :method => :put }) do |f|
    = f.input :password, label: 'New Password', required: true, html: {class: 'success'}, placeholder: 'enter a new password'
    .form-actions
      = f.button :submit, "Save Password", class: 'btn-primary'

%p
  %i.icon-lock
  Passwords are securely stored with strong encryption.
