%h1 After Login Page
%p TODO: put analytics code, user info wizard, etc. on this page.
%p
  This page is displayed after both user sign up and login.
  Check the 'flow' variable for :signup or :login
%p
  %strong
    Flow:
  = @flow

:javascript
  path = "#{@path}";
  window.location = path;
