-# Generic OAuth failure page
-# This page is displayed when it's not possible to show the error inline on another page
-# Test with /auth/failure

%h1 Ooops!
%p Something didn't work as expected. Please try again.
