#id_selector.top.jumbotron
  .container
    %h1.text-center= I18n.t('brand.name')
    %h2 Rails 4 starter app with social authentication and other goodies.
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat ....
    %p
      = I18n.t('brand.name')
      uses best practices and code extracted from several production projects.
    %p.text-center
      %a.btn.btn-warning.btn-lg{:href=>"https://github.com/starterkits/rails4-starterkit"} Learn more

.container
%h1#benefits.subhead.text-center Why Use This StarterKit
.row
  .col-md-4.col-sm-6.benefit
    .benefit-ball
      %span
      %i.fa.fa-home
    %h3 Benefit Title
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna. <!-- /.benefit -->

  .col-md-4.col-sm-6.benefit
    .benefit-ball
      %span
      %i.fa.fa-cloud
    %h3 Benefit Title
    %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <!-- /.benefit -->

  .col-md-4.col-sm-6.benefit
    .benefit-ball
      %span
      %i.fa.fa-bell
    %h3 Benefit Title
    %p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero.. <!-- /.benefit -->
  .col-md-4.col-sm-6.benefit
    .benefit-ball
      %span
      %i.fa.fa-bullhorn
    %h3 Benefit Title
    %p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vdolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore. <!-- /.benefit -->

  .col-md-4.col-sm-6.benefit
    .benefit-ball
      %span
      %i.fa.fa-cutlery
    %h3 Benefit Title
    %p Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. <!-- /.benefit -->

  .col-md-4.col-sm-6.benefit
    .benefit-ball
      %span
      %i.fa.fa-fire
    %h3 Benefit Title
    %p Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero. <!-- /.benefit --> <!-- /.row -->

.class_selector.sect-border

%h3#about.subhead.text-center A Little More About StarterKit
.row
  .col-md-10.col-md-offset-1
    %p Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna.  Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan.
    %p Nam liber tempor cum soluta nobis eleifend option congue nihil imperdiet doming id quod mazim placerat facer possim assum. Typi non habent claritatem insitam; est usus legentis in iis qui facit eorum claritatem. Investigationes demonstraverunt lectores legere me lius quod ii legunt saepius. <!-- /.col-md-10 --></div> <!-- /.row --><!-- /.container -->
