%h1= I18n.t('brand.name')

%p
  Rails 4 starter app with social authentication and other goodies.

%p
  = I18n.t 'brand.name'
  uses best practices and code extracted from several production projects.

%p
  = link_to 'Github', 'https://github.com/starterkits/rails4-starterkit'
