%h1= I18n.t('brand.name')

%p
  Rails 4 starter app with social authentication and other goodies.

%p
  StarterKit uses best practices and code extracted from several production projects.

%p
  = link_to 'Github', 'https://github.com/simple10/rails4-starterkit'
