%h1= #I18n.t('brand.name')
%h1= "Find My Ten"

%p
  Welcome to Find My Ten.

%p
  = #I18n.t 'brand.name'
  uses the finest and most innovative technology to help find great things
  and great service

%p
  = link_to 'Find my ten Facebook page', 'www.facebook.com'
