%h1= I18n.t('brand.name')

%p
  Rails 4 starter app with social authentication and other goodies.

%p
  = Rails.application.config.settings.app_name
  uses best practices and code extracted from several production projects.

%p
  = link_to 'Github', 'https://github.com/starterkit/rails4-starterkit'
