//
// Put application and framework variables in this file.
//

// Import Foundation variables to make all variables available from this file.
// Useful for situations where only this file is imported.
@import "foundation/settings";
@import "foundation/components/global";

$gray-light: #CCC;
$gray-lighter: #DDD;

$well-bg: #DDD;
$border-radius-base: 2px;

$navbar-default-link-color: #FFF;
$link-color: #333;

$avatar-background-color: #333;
$avatar-default-color: #FFF;
