//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self
//= require icons_social

@import "variables";
@import "bootstrap";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";
@import "hacks";

// Plugins
@import 'nprogress';
@import 'nprogress-bootstrap';


// Minor Tweaks

// Padding to clear fixed nav
body {
  padding-top: 70px;
}

// Make sure alerts are nicely formatted
.alert {
  a {
    white-space: nowrap;
  }
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
}
