//
// Prefer imports over require
// http://pivotallabs.com/structure-your-sass-files-with-import/
//

//= require_self
//= require icons_social

@import "variables";
@import "bootstrap";
@import "auth";
@import "avatar";
@import "cards";
@import "footer";

// Plugins
@import 'nprogress';
@import 'nprogress-bootstrap';
body {
  // Padding to clear fixed nav
  padding-top: 70px;
}

.alert {
  // Make sure alerts are nicely formatted
  a {
    white-space: nowrap;
  }
}

// Postion loading spinner at bottom right
#nprogress .spinner {
  bottom: 15px;
  top: auto;
}
