.avatar {
  display: inline-block;
  background-color: $avatar-background-color;
  overflow: hidden;
  text-align: center;
  vertical-align: middle;

  &.tiny {
    width: 24px;
    height: 24px;
    img {
      max-width: 24px;
    }
    .default {
      font-size: 20px;
      margin-top: 2px;
    }
  }
  &.thumb {
    width: 48px;
    height: 48px;
    img {
      max-width: 48px;
    }
    .default {
      font-size: 38px;
      margin-top: 8px;
    }
  }
  &.large {
    width: 73px;
    height: 73px;
    img {
      max-width: 73px;
    }
    .default {
      font-size: 60px;
      margin-top: 10px;
    }
  }

  &.error {
    img {
      display: none;
    }
    .default {
      display: inline-block;
    }
  }

  img {
    border: none;
  }
  .default {
    display: none;
    color: $avatar-default-color;
  }
}
