/**
* From http://icomoon.io/app/
* Import doc/icons/Social-Icons.json into IcoMoon app to add/remove icons
* Included: twitter, facebook, linkedin, github, google+
*
* Font Family: Social-Icons
* CSS Prefix: sico-*
*
* Support for IE6/7 is not enabled by default. See doc/icons/lte-ie7.js
*/

// Set fixed width
.sico-fixed {
  width: 1em;
  display: inline-block;
  text-align: center;
}

@font-face {
  font-family: 'Social-Icons';
  src: font-url('Social-Icons.eot');
}
@font-face {
  font-family: 'Social-Icons';
  src: url(data:application/font-woff;charset=utf-8;base64,d09GRgABAAAAAAa4AA0AAAAACTAAAQAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAABMAAAABoAAAAcZnXGXEdERUYAAAFMAAAAHwAAACAANgAGT1MvMgAAAWwAAABHAAAAVj7i25FjbWFwAAABtAAAAFwAAAFo1KnigWdhc3AAAAIQAAAACAAAAAj//wADZ2x5ZgAAAhgAAALfAAADfJWtU9VoZWFkAAAE+AAAADAAAAA2/cuXJ2hoZWEAAAUoAAAAHgAAACQDav/KaG10eAAABUgAAAAdAAAAJAlVAAtsb2NhAAAFaAAAABQAAAAUAbQCzG1heHAAAAV8AAAAHgAAACAATwBzbmFtZQAABZwAAADhAAABvMdL1ENwb3N0AAAGgAAAADYAAABk1Pn+2XicY2BgYGQAgpOd+YYg+lyZ9lQYDQBATQX8AAB4nGNgZGBg4ANiCQYQYGJgZGBm4ACSLGAeAwAEvAA9AHicY2BkTGOcwMDKwMGozGjJwMBgB6WvM4gxFDMwMDGwMjPAgQCCyRCQ5prC4PCB4cNDxob/Bxg0GBsYHBoYGBhBcgCCEguFAHicY2BgYGaAYBkGRgYQSALyGMF8FgY3IM3DwMHABGQzfGD4MPvD1Q8P//8HKQPyZsJ4AkD9/Mb8qlATOBgggIWBlYGdgYGRjQEqAaSZgAQTAypgZBj2AABAhxHWAAAAAf//AAJ4nC1SO28bRxDe2eXt3d77tXerO/JI3pG8yJIo8x6kZcfUGQ4gCFDFIhLgxoBVuEr+gAoWqVwYadz7p6hN4z+QJkWAwIBbA6qkLJUMsDu7C+zMfA8ECD3cwi1sEUbIgzHc3newve+QDECG3D5BhxYyUzXioU2KvIzqapXPHtMcXkIUz6FtVhnEs7ZZ1lW8XFF1CZ88AUHZXhz89IzpJ4fpvsaoYfSnXugF+vBygY/zQqSCpQIS4RN1/OrFPJ1AMRKY0MMB1sGYhFEwPcKM5ccJtQcO3s2EHv5Ct3CDOEKrWi140RZtLRu/AF7kNubbTnv285Mnh4uTiW4q8P3sy5ezg6PjM8KYhhCR/7/BFt7Ik4MOZA1ZYBXRYpHvpq8iRd6bWZFTlQ6g+FHiq3mxJnUVXW4uIeF8L9nfg8kmjFyukM0GqO4nzkHz993dhS+EHwjxx8ff0oFnqdaH6xvTnGimrZ38xyd6+Cp7v0UbhKah7DB7CU257rVNuSxn1IFZrs6xSmPKw4zEVLVB8jyHosxpBkN4XLg6hT7wkJY72tdQZQDb8+cqtexYuHrADDVlelzFPWugGizQXRHbOlZMz6WKTXu0hwlgqhNCHN9TKFWfnzdX76+az6fXAaZKKwxMrXDMsyjqE53KIJpB+lGU8XFoUcxcQgxD0wGTHgCxqaKbBEDfA4Xi4Pq0uWqaqx3e3qO3Pku8fXSE3qFfJdvNXCtzqRORCHFdrXHZzLFkewe4rpalVDSDnc/kg8JDlRb5nEh3rclK6rPGrXzYCbVaSqH+177mf0rL9JhiKCYompX0ue0Phq6TxnamOakX7ymmG1siGv+S535geK7JLNe1tGL22h4OY4dpo/1p4Eo0ujprnxYxpN2o60a+okvXsh7DDAizhe0nriRa/OPkozAXZpJwK/s9NPYjf+A5LqOWYTm+cH7IxpLv1HMCNzYphJ4cj2JYTIuVpjxW7jr0LyMlbhsAeJxjYGRgYABie7PLXfH8Nl8ZuBkPAEUYzpVpT0XQ/w8wHmBsAHI5GJhAogA8HgtTeJxjYGRgYGz4f4BBg/EAA8M/ByAJFEEBnACEHQU0AAB4nGM8wAABUyEU4wIGbgagGGMDFC9gYAAATSYEZgAAAAAAAAAAAAAAAA4AWAB4ALYBLgG+eJxjYGRgYOBkKGBgYQABJiBmZACJOYD5DAAOeADDAAB4nI2OMWrDQBBFn2zJENt1SFJt5zQrVjIu4gMY3AUM7o0QRmC0IPsW6XOSnCMXyDFygORLmcJNwAvLvvnzZ/YDc95J6E8ifjIekbE0HvPMm3Eqz6dxxoxv4wnz5FHOJL2T8jBM9TxiysJ4zCsvxqk8H8YZ93wZT6T/sCNS0XDghGcrjrScYRer5nDy2yq2qq4apmyG+jK8HUdqHCU5Qe9a97/Ff92VtEJer5kgWmphbC+b2B1rV+bBrd11AJUrXwRfhkLOGzPvlamT3Axtp1/6dOzr7tzE1hV5uHXVL/BARPgAAAB4nGNgYsAPOIGYkYGJkYmRmZGFkZWRjZGdvTQv083AwABCW1pCaUcI7WoI5TtBaBdTAFOYDZwAAA==) format('woff'),
     url(data:application/x-font-ttf;charset=utf-8;base64,AAEAAAANAIAAAwBQRkZUTWZ1xlwAAAkUAAAAHEdERUYANgAGAAAI9AAAACBPUy8yPuLbkQAAAVgAAABWY21hcNSp4oEAAAHUAAABaGdhc3D//wADAAAI7AAAAAhnbHlmla1T1QAAA1AAAAN8aGVhZP3LlycAAADcAAAANmhoZWEDav/KAAABFAAAACRobXR4CVUACwAAAbAAAAAkbG9jYQG0AswAAAM8AAAAFG1heHAATwBzAAABOAAAACBuYW1lx0vUQwAABswAAAG8cG9zdNT5/tkAAAiIAAAAZAABAAAAAQAAPzbTil8PPPUACwHAAAAAAM52K5UAAAAAznYrlQAA/8ABwAGAAAAACAACAAAAAAAAAAEAAAGA/8AAKAHAAAD+QAHAAAEAAAAAAAAAAAAAAAAAAAAJAAEAAAAJAHAABAAAAAAAAgAAAAEAAQAAAEAAAAAAAAAAAQFmAZAABQAIASMBOQAAAD4BIwE5AAAA1wAWAHMAAAIABQMAAAAAAAAAAAAAEAAAAAAAAAAAAAAAUGZFZABA8ADw4QGA/8AAKAGAAECAAAABAAAAAAAAAcAAAAAAAAAAlQAAAAAAAAGgAAsAwAAAAYAAAAGAAAABoAAAAAAAAwAAAAMAAAAcAAEAAAAAAGIAAwABAAAAHAAEAEYAAAAMAAgAAgAEAADwAPCb8NXw4f//AAAAAPAA8Jnw1fDh//8AABADAAAPMw8lAAEAAAAAAAgAAAAAAAAABAAFAAcAAAEGAAABAAAAAAAAAAECAAAAAgAAAAAAAAAAAAAAAAAAAAEAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAADgBYAHgAtgEuAb4AAQAA/8ABwAGAAAIAABEBIQHA/kABgP5AAAAAAAEACwAAAZUBQAAxAAABBgcWFRQOAyMiJxYzMjciJicWMzI3LgE9ARYXLgE1NDceARcmNTQ2MzIXNjcGBzYBlREYARMnNUwrRDgJCjksGykICQYLCxwlERQREwofVzECLyIjGBsYCRsYARoYEgMHIUE7LhskASMgGAIDBiwdAgoBCyQUFhMlLQIJCSIvGgYOHQ8CAAABAAD/4ADAAXwAFQAANzMHIxUjNSM1MzU0NjsBFSMiDgIVgEAIOFYqKiwxOSQKDAUB9UfOzkcrLS9HAwkJCAAAAwAA/+wBgAFbAAMADwArAAA3FSM1NxYGIzEiJjU0NjIWBRUjNTQmIyIGBwYdASM8AT0BMxUjPgMzMhZXUlcBGhUVGRopGQEkUhQWEBUFA1JSAQYKEhoPKzTk+PhMEhgYEhMYGMmOhBsdEQ0HDYpkfAwMJAgMDgg5AAAAAAEAAP/pAYABYABSAAAlFAYHBiY9ATQnPgQ1NCc2JyYGDwEmIgcuAgcGFwYVFB4DFwYHDgEiJicuASMnIgYeAR8BHgEfAR4CMj8BHAEVFAYnLgE1ND4BMh4BAYBJOgcGDQ4XGBAKEwkLBxsJChcyFwQNHQcLCRMKEBgXDgoCBQwREAYFDgYEBgQCAwECBgoDAwMPEhEFBgYHOkk0WGhYNKA/ZBMCBgU1GAsCBg0UIRUeFhYcAwoGBgYGAwgLAxwWFh4VIRQNBgIJEAMDCwsICgECAwQBAQMOBgUKDAMBAQoZAQUGAhNkPzRYNDRYAAAAAAQAAP/AAaABYAAcAC0AYwBvAAA3NC4IJyIjIg4DFRQeAjMyPgInNC4CIyIGFRQeAzMyNiczByMeARUUDgMVFB4FFRQHBiMiLgM1NDc+AzcmNTQ+AjUGIyImNTQ2NzYFFSMVIzUjNTM1MxXbAgMGBAkFCwUMAQUIDRocFQ4SHR8QDxsXDh4IDxsRFxkFDBAXDRgWIW4iIhITCxEQDAkNEBANCCMmQw4fHxcPCQggKSUTEAEBAwoHJjUwIxcBG0AgQEAgEgUKCAkGCQQJAgkBAwkOGA4SGhAHBg0Y5w8iIBQiGAwaGhUNHpAUCykWEh0RDxAJBg0LDQ8SGA8oHiEFDBEbEQ8TEBcMBgEUEQMGBAYCATElIzcIBUAgQEAgQEAAAAAADACWAAEAAAAAAAEADAAaAAEAAAAAAAIABQAzAAEAAAAAAAMAKACLAAEAAAAAAAQADADOAAEAAAAAAAUACwDzAAEAAAAAAAYADAEZAAMAAQQJAAEAGAAAAAMAAQQJAAIACgAnAAMAAQQJAAMAUAA5AAMAAQQJAAQAGAC0AAMAAQQJAAUAFgDbAAMAAQQJAAYAGAD/AFMAbwBjAGkAYQBsAC0ASQBjAG8AbgBzAABTb2NpYWwtSWNvbnMAAEkAYwBvAG4AcwAASWNvbnMAAEYAbwBuAHQARgBvAHIAZwBlACAAMgAuADAAIAA6ACAAUwBvAGMAaQBhAGwALQBJAGMAbwBuAHMAIAA6ACAANQAtADEAMAAtADIAMAAxADMAAEZvbnRGb3JnZSAyLjAgOiBTb2NpYWwtSWNvbnMgOiA1LTEwLTIwMTMAAFMAbwBjAGkAYQBsAC0ASQBjAG8AbgBzAABTb2NpYWwtSWNvbnMAAFYAZQByAHMAaQBvAG4AIAAxAC4AMAAAVmVyc2lvbiAxLjAAAFMAbwBjAGkAYQBsAC0ASQBjAG8AbgBzAABTb2NpYWwtSWNvbnMAAAIAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAACQAAAAEAAgECAQMBBAEFAQYBBwd1bmlGMDAwB3VuaUYwOTkHdW5pRjA5QQd1bmlGMEUxB3VuaUYwOUIHdW5pRjBENQAAAAH//wACAAEAAAAOAAAAGAAAAAAAAgABAAMACAABAAQAAAACAAAAAAABAAAAAMmJbzEAAAAAznYrlQAAAADOdiuV) format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'Social-Icons';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="sico-"] {
*/
.sico-twitter, .sico-facebook, .sico-linkedin, .sico-github, .sico-google-plus {
  font-family: 'Social-Icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
.sico-twitter:before {
  content: "\f099";
}
.sico-facebook:before {
  content: "\f09a";
}
.sico-linkedin:before {
  content: "\f0e1";
}
.sico-github:before {
  content: "\f09b";
}
.sico-google-plus:before {
  content: "\f0d5";
}
