.container
  .row
.panel.panel-default
  .panel-body
    %p.pull-left
      Copyright&copy; #{Date.today.year}
      %a{:href => "http://www.yourcompany.com", :target=> "_blank"} Your Company
    %ul.pull-right
      %li= link_to 'Terms', terms_path
      %li= link_to 'Privacy', privacy_path
  .panel-footer <!-- /.container -->    </footer>
