-# JavaScripts included in <body> for initializing Backbone views, etc.

-# Immediately executable javascript
- if content_for? :javascript
  = yield :javascript

-# On load javascript
- if content_for? :on_ready
  :javascript
    head(function(){
      #{yield :on_ready}})
