-# JavaScripts included in <body> for initializing Backbone views, etc.

-# Immediately executable javascript
- if content_for? :javascript
  = yield :javascript

-# Document ready javascript
- if content_for? :on_ready
  :javascript
    head.ready(function(){
      #{yield :on_ready}
    })
