- flash.each do |name, msg|
  - if msg.is_a?(String) and msg.present?
    - name = 'warning' if name.to_s == 'alert'
    - type = (['info', 'success', 'warning'].include?(name.to_s) ? name : 'info')
    .alert-box{class: type, data: {alert: ''}}
      = msg
      %a.close{href: '#', 'aria-hidden' => true} &times;
