- flash.each do |name, msg|
  - if msg.is_a?(String) and msg.present?
    .alert.alert-dismissable{class: "alert-#{name == :notice ? "success" : "danger"}"}
      %button.close{'data-dismiss' => 'alert', 'aria-hidden' => true} &times;
      = msg
