-# http://zurb.com/ink/templates.php
!!! Strict
%html{xmlns: "http://www.w3.org/1999/xhtml"}
  %head
    %meta{content: "text/html; charset=utf-8", "http-equiv" => "Content-Type"}/
    %meta{content: "width=device-width", name: "viewport"}/
    :css
      #{Rails.application.assets.find_asset('email').to_s.html_safe}
  %body
    %table.body
      %tr
        %td.center{align: "center", valign: "top"}
          %center
            %table.row.header
              %tr
                %td.center{align: "center"}
                  %center
                    %table.container
                      %tr
                        %td.wrapper.last
                          %table.twelve.columns
                            %tr
                              %td.six.sub-columns
                                %img{src: "http://placehold.it/200x50"}/
                              %td.six.sub-columns.last{align: "right", style: "text-align:right; vertical-align:middle;"}
                                %span.template-label HERO
                              %td.expander
            %br/
            %table.container
              %tr
                %td
                  / content start
                  %table.row
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td
                              %h1 Hi, Elijah Baily
                              %p.lead Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et.
                              %img{height: "300", src: "http://placehold.it/580x300", width: "580"}/
                            %td.expander
                  %table.row.callout
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td.panel
                              %p
                                Phasellus dictum sapien a neque luctus cursus. Pellentesque sem dolor, fringilla et pharetra vitae.
                                %a{href: "#"} Click it! »
                            %td.expander
                  %table.row
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td
                              %h3
                                Title Ipsum
                                %small This is a note.
                              %p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                            %td.expander
                  %table.row
                    %tr
                      %td.wrapper.last
                        %table.three.columns
                          %tr
                            %td
                              %table.button
                                %tr
                                  %td
                                    %a{href: "#"} Click Me!
                            %td.expander
                  %table.row.footer
                    %tr
                      %td.wrapper
                        %table.six.columns
                          %tr
                            %td.left-text-pad
                              %h5 Connect With Us:
                              %table.tiny-button.facebook
                                %tr
                                  %td
                                    %a{href: "#"} Facebook
                              %br/
                              %table.tiny-button.twitter
                                %tr
                                  %td
                                    %a{href: "#"} Twitter
                              %br/
                              %table.tiny-button.google-plus
                                %tr
                                  %td
                                    %a{href: "#"} Google +
                            %td.expander
                      %td.wrapper.last
                        %table.six.columns
                          %tr
                            %td.last.right-text-pad
                              %h5 Contact Info:
                              %p Phone: 408.341.0600
                              %p
                                Email:
                                %a{href: "mailto:hseldon@trantor.com"} hseldon@trantor.com
                            %td.expander
                  %table.row
                    %tr
                      %td.wrapper.last
                        %table.twelve.columns
                          %tr
                            %td{align: "center"}
                              %center
                                %p{style: "text-align:center;"}
                                  %a{href: "#"} Terms
                                  |
                                  %a{href: "#"} Privacy
                                  |
                                  %a{href: "#"}
                                    %unsubscribe Unsubscribe
                            %td.expander
