- id ||= 'destroy-user-modal'

.modal.fade{id: id, tabindex: -1, role: 'dialog', 'aria-labelledby' => "#{id}-title", 'aria-hidden' => true}
  .modal-dialog
    .modal-content
      .modal-header
        %button.close{data: {dismiss: 'modal'}, 'aria-hidden' => true} &times;
        %h4{id: "#{id}-title"}= I18n.t 'account.destroy.prompt'
      .modal-body
        .alert.alert-danger
          %i.glyphicon.glyphicon-warning-sign.text-danger
          = I18n.t 'account.destroy.warning'
      .modal-footer
        %button.btn.btn-danger.ok= I18n.t 'account.destroy.submit'
        %button.btn.btn-default{data: {dismiss: 'modal'}}= I18n.t 'account.destroy.cancel'
