-# todo: refactor along with after_auth
- after_oauth = false
- if after_oauth && session[:omniauth].present? && session[:omniauth][:info]
  .card.auth
    .avatar
      - if session[:omniauth][:info][:image].present?
        = user_image_tag session[:omniauth][:info][:image]
    %h2
      Hi,
      = session[:omniauth][:info][:first_name] || session[:omniauth][:info][:name]

- else
  %h2
    Sign up
